@import url("https://fonts.googleapis.com/css?family=Roboto");

:root {
  /* font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
  /* font-size: calc(14px + (22 - 14) * ((100vw - 280px) / (1260 - 280))); */
  --fnt-tamanho-minimo-px: 14px;
  --fnt-tamanho-maximo: 22;
  --fnt-tamanho-minimo: 14;
  --vw-tamanho-minimo-px: 320px;
  --vw-tamanho-maximo: 1259;
  --vw-tamanho-minimo: 320;
  font-size: calc(
    var(--fnt-tamanho-minimo-px) +
      (var(--fnt-tamanho-maximo) - var(--fnt-tamanho-minimo)) *
      (
        (100vw - var(--vw-tamanho-minimo-px)) /
          (var(--vw-tamanho-maximo) - var(--vw-tamanho-minimo))
      )
  );
}

/* escala rem retirada de https://www.modularscale.com/?1&em&1.333 */

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

body {
  width: 100vw;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 1540px;
  height: 100vh;
  margin: 0 auto;
  justify-content: start;
  align-items: center;
  box-sizing: border-box;
}

.paragraph-container {
  margin-top: 40px;
}

h1 {
  font-size: 7.478rem;
}

h2 {
  font-size: 5.61rem;
}

h3 {
  font-size: 4.209rem;
}

h4 {
  font-size: 3.157rem;
}

h5 {
  font-size: 2.369rem;
}

h6 {
  font-size: 1.777rem;
}

p {
  font-size: 1rem;
}